:root {
	--swiper-navigation-color: rgba(206, 39, 39, 0.6) !important }

@font-face {
	font-family: 'Avenir';
	src: url(fonts/AvenirNext-Bold.ttf) format('truetype');
	font-weight: 800;
	font-style: normal;
}
  @font-face {
	font-family: 'Avenir';
	src: url(fonts/AvenirNext-DemiBold.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}
  @font-face {
	font-family: 'Avenir';
	src: url(fonts/AvenirNext-Medium.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
} 
@font-face{
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Black.ttf);
	font-weight: 800;

}
@font-face{
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Bold.ttf);
	font-weight: 500;
	
}
@font-face{
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Medium.ttf);
	font-weight: 400;
	
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
	background-color: #ffffff;
	/* word-break: break-word; */
	color: #000000;
}

body.fix {
	overflow: hidden
}

body,input,textarea,select,button {
	font-family: 'Avenir';

}

input,textarea,select,button {
	outline: none
}

img {
	max-width: 100%;
	height: auto
}

h1,h2,h3,h5,h6 {
	font-size: 2.5em;
	font-weight: 500;
	position: relative;
	
	/* margin: .5em 0; */
}
h4 {
	font-size: 16px;
}
h3{
	text-align: center;
	margin-bottom: 15px;
	opacity: 0.8;
	margin-top: 2em;
}
h3:before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 50%;
	transform: translateX(-50%);
    width: 40%;
    height: 2px;
    background: rgba(206, 39, 39, 0.8);
}

h3:after {
	content: "";
	position: absolute;
	bottom: -9px;
	left: 50%;
	transform: translateX(-50%);
	width: 30%;
	height: 2px;
    background: rgba(206, 39, 39, 0.8);
  }

strong,b {
	font-weight: 500
}

a {
	text-decoration: none;
	color: #000;
}

a img:hover {
	opacity: .8
}

form label {
	color: #000;
	font-size: .8em;
	display: block;
	margin: 1em;
}

form label a {
	border-bottom: 1px dashed;
	color: #777;
}

form label a:hover {
	border: 0
}

input,button,textarea {
	outline: 0
}

input[type="text"],input[type="password"],textarea {
	font-size: .8em;
	padding: 0 1.2em;
	border: 1px solid #eee;
	background-color: #fff;
	/* border-radius: 2em; */
	color: #777;

	background: #F3F3F6;
    border-radius: 5px;
    /* padding: 0.5em; */
	width: 100%;
	height: 35px;

}
select {
	font-size: .8em;
	padding: 0 1.2em;
	border: 1px solid #eee;
	color: #777;
	background: #F3F3F6;
    border-radius: 5px;
    /* padding: 0.5em; */
	width: 100%;
	height: 35px;
}

input[type="submit"],button {
	/* border: 0; */
	cursor: pointer
}

input[name=mail] {
	display: none!important
}

ul,ol {
	list-style: none;
	/* font-size: 0; */
}

img {
	max-width: 100%
}

p + p {
	margin: .5em 0 0;
}

a img:hover {
	opacity: .8
}

.but {
	/* background-color: #00a0e3; */
	padding: .8em 1em;
	font-size: 1em;
	/* border-radius: 2em; */
	color: rgba(206, 39, 39, 0.9);
	font-weight: 800;
	display: inline-block;
	border: 2px solid rgba(206, 39, 39, 0.9);

	/* background: rgba(206, 39, 39, 0.8); */
	/* box-shadow: 0px 5px 15px rgba(2, 125, 213, 0.3); */
	/* border-radius: 4px; */
	width: 100%;
	position: relative;
	z-index: 1;
	transition: 0.5s;
	
}


.but:hover {
	background-color: rgba(206, 39, 39, 0.9);
	color: #ffffff;
}



.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1em;
	position: relative;
}

.fond {
	background: url(../img/fond.jpg) center/cover no-repeat;
}

.hood {
	padding: 10px 0;
	position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(9,25,65,0.2);
    top: 0;
    background-color: #ffffff;
    z-index: 5;

}

.hood .on {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.hood .on .lf img{
	filter: hue-rotate(145deg) grayscale(0.1);
}

.hood .on .lf a {
	/* font-size: 0 */
	display: flex;
	align-items: center;

}
.logo-text{

}
.hood .logo-text p {
    font-size: 10px;
	margin: 0;
}
.hood .logo-text p:nth-child(1) {
	font-size: 14px;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;

}


.hood .on .cn {
	padding: 0 1em 0 3em;
}

.hood .on .cn ul {
	display: inline-flex;
	width: 100%;
	justify-content: center;
	font-size: 100%;
}

.hood .on .cn ul li + li {
	margin: 0 0 0 1em;
}

.hood .on .cn ul li a {
	font-size: 14px;
	border-bottom: 2px solid transparent;
	/* text-transform: uppercase; */
}

.hood .on .cn ul li a:hover {
	border-color: rgba(206, 39, 39, 0.75);
}

.hood .on .rt {
	/* flex: 0 20%; */
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
}

.hood .on .rt .l {
	padding: 0 1em 0 0;
}

.hood .on .rt .l a {
	display: block;
	font-size: 0;
	/* padding: 2em; */
}

.hood .on .rt .l a img {
	/* max-width: 24px; */
	/* filter: invert(36%) sepia(90%) saturate(1327%) hue-rotate(170deg) brightness(101%) contrast(101%); */
}

.hood .on .rt .r {
	text-align: right;
	display: flex;
	align-items: center;
}
.icon-phone{
	display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(206, 39, 39, 0.8);;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.icon-phone svg path{
	fill: rgba(206, 39, 39, 0.9);
}
.btn-ord{
	border: 3px solid #fff;
    color: #fff;
    /* width: 40px; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    bottom: 15vh;
    left: 100px;
	text-transform: uppercase;
	user-select: none;	
}
.btn-ord a{
	color: #ffffff;
}
.btn-ord:active a{
    color: rgba(206, 39, 39, 0.9);
}
.btn-ord:hover{
    background: rgba(255,255,255, 0.1);
}
.btn-ord:active{
    background: rgba(255,255,255, 0.6);
    border: 3px solid transparent;
}

.hood .on .rt .r p,
.hood .ord-menu p {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.5px;
	padding-left: 10px;
	/* display: block; */
    /* overflow: hidden; */
    /* max-width: 0; */
    /* opacity: 0; */
    white-space: nowrap;
    /* transition: .6s ease; */

}
.hood .on .rt .r::before {
	content: '';
	border: 2px solid rgba(206, 39, 39, 0.8);
	border-radius: 50%;
    width: 40px;
    height: 40px;
	background-image: url(/img/phone-red.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
/* .hood .ord-menu::after{
	content: '';
	border: 2px solid rgba(206, 39, 39, 0.8);
	border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url(/img/pencil-red.png);
	background-size: 80%;
	background-repeat: no-repeat;
    background-position: center;
} */
.ord-menu {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
/* .hood .on .rt .r:hover p,
.hood .ord-menu:hover p{

	max-width: 200px;
    opacity: 1;
    margin-right: 5px;
} */
.hood .on .rt a .r p ,
.hood .ord-menu {
	color: rgba(206, 39, 39, 0.9);
	font-weight: 500;
}
.hood .box{
	display: flex;
	align-items: center;
}




.head {
	/* min-height:400px */
	display: flex;
	align-items: center;
	flex-direction: column;
    position: relative;
	justify-content: center;
	padding: 70px 0 0;
	height: 90vh;
	overflow: hidden;
}

.after-red{
	position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    height: 138px;
    background-color: rgba(206, 39, 39, 0.85);
    transform: skew(0deg, -3deg);
}
.sld-main{
	position: absolute !important;
	z-index: 0 !important;
    left: 0;
    right: 0;
    top: 0;
	bottom: 0;
	padding: 60px 0 0 !important;

}
.sld-main .swiper-slide{
	display: flex;
	align-items: center;
}
.sld-main .a {
    max-width: 840px;
    padding: 100px;
	padding-right: 25px;
	
}


.main-title{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	position: absolute;
    left: 100px;
	/* padding-top: 140px; */
	white-space: pre-line;

	
}
.main-title h1{
color: #ffffff;
font-size: 40px;
font-weight: 800;
letter-spacing: -2.5px;

}
.main-title p{
	color: #CF3A3A;
	font-size: 38px;
	font-weight: 800;
    letter-spacing: -3px;


}

.wrapper{
	    display: flex;
    width: 100%;
    align-items: end;
    margin: 40px 0px;
    background: linear-gradient(90deg, rgba(32, 14, 14, 0.6) 0%, rgba(255, 255, 255, 0) 50%), linear-gradient(270deg, rgba(32, 14, 14, 0.6) 4.44%, rgba(255, 255, 255, 0) 50%), linear-gradient(rgba(32, 14, 14, 0.9) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(32, 14, 14, 0.9) 0%, rgba(0, 0, 0, 0) 50%), url(/img/main/1.jpg) center/cover no-repeat;
	padding: 50px 44px 41px;
	color: #fff;
    justify-content: space-between;
}
.title-form-box {
	/* text-transform: uppercase; */
	line-height: 1;
}
.title-form-box h4{
    font-size: 28px;
    padding-bottom: 8px;
	text-transform: uppercase;
}
.title-form-box p{

}
.form-wrap{

}
.form-wrap label{
	font-size: .8em;
    display: block;
    margin: 5px 0 0;
	color: rgba(255,255,255, 0.6);
	text-align: center;
}
.form-wr {
    display: flex;
    align-items: center;
    margin: 0 0 0 -10px;
	height: 50px;
}
.btn-form-box {
	height: 100%;
	padding-left: 10px;
}
.btn-form-box label {
    /* text-align: center;
	color: #091941;
	margin-bottom: 0; */
}
.form-wr h4 {
    /* font-size: 18px;
    text-transform: uppercase; */
}
.form-box {
	padding: 0 10px;
	height: 100%;
}
.form-box input{
	height: 100%;
    background: rgba(255,255,255, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 0 0 0 25px;
    border: 1px solid #fff;
    border-radius: 0;
}
.form-box input::placeholder{
	color: rgba(255,255,255, 0.7);
}
.form-box p {
    /* margin-bottom: 5px;
    opacity: 0.9; */
}
.form-wr .but {
    height: 100%;
    border: 2px solid #fff;
    background: transparent;
	color: #fff;
}
.form-wr .but:hover {
	background: rgba(255,255,255, 0.4);
}

.work {
	text-align: center;
}
.work h3 {
	margin-bottom: 15px;
}
.work .on{
	width: 33.33%;
    height: 300px;
	padding: 0 15px;
	margin-bottom: 30px;
}
.swiper-lazy{
	height: 300px;
}
.work-img-wr{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 35px 0 -30px;
}
.work-img-wr .h{
	height: 100%;
	cursor: pointer;
	position: relative;

}
.work-img-wr .h::before{
	content: '';
	background: linear-gradient(90deg, rgba(32, 14, 14, 0.3) 0%, rgba(255, 255, 255, 0) 50%),
	linear-gradient(270deg, rgba(32, 14, 14, 0.3) 4.44%, rgba(255, 255, 255, 0) 50%),
	 linear-gradient(rgba(32, 14, 14, 0.7) 0%, rgba(255, 255, 255, 0) 100%),
	linear-gradient(0deg, rgba(32, 14, 14, 0.7) 0%, rgba(0, 0, 0, 0) 50%);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
    left: 0;
}
.work-img-wr .h:hover::before{
content: none;
}
.work-img-wr .h:hover {
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.7);
}
.work-img-wr .on:hover{
	transform: scale(1.05);

}
.work-img-wr .on{
	transition: 0.3s;
}
.show-h{
	width: 85vw;
    height: calc(85vw / 1.78);  
}
.show-h .h{
	height: 100%;
	width: 100%;
}
.popup-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: linear-gradient( 0deg, rgba(46, 47, 50, 0.8) 0%, rgba(46, 47, 50, 0) 49.69%, rgba(46, 47, 50, 0.8) 100% ), linear-gradient( 270deg, rgba(46, 47, 50, 0.8) 0%, rgba(46, 47, 50, 0) 49.35%, rgba(46, 47, 50, 0.8) 100% ), rgba(46, 47, 50, 0.7);
  }
  .popup-close {
	position: absolute;
	right: 30px;
	top: 30px;
	cursor: pointer;
	user-select: none;
	z-index: 1;
  }
 .popup-overlay .swiper-button-next{
	right: 40px;
 } 
 .popup-overlay .swiper-button-prev{
	left: 40px;
 } 

.contact {
	margin: 3em 0 0;
	/* background-color: #f7f7f7; */
}

.contact .on {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.05);
}

.contact .on .lf {
	flex: 0 50%;
	/* text-align: center; */
	/* padding: 0 4em; */
	text-align: center;
	margin: 2em 0;
}

.contact .on .lf .a {
	/* display: inline-block; */
	/* text-align: left; */
}

.contact .on .lf .a h4 {
	margin: 0 0 .5em
}

.contact .on .lf .a p {
	font-size: 1.2em;
}

.contact .on .lf .a p a::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	/* background-color: #000; */
	height: 20px;
	width: 20px;
	margin: 0 .5em 0 0;
	filter: invert(36%) sepia(90%) saturate(1327%) hue-rotate(170deg) brightness(101%) contrast(101%);
}

.contact .on .lf .a p:nth-child(2) a::before,.contact .on .lf .a p:nth-child(3) a::before {
	background: url(../img/cl.png) center/20px no-repeat;
}

.contact .on .lf .a p:nth-child(4) a::before {
	background: url(../img/el.png) center/20px no-repeat;
}

.contact .on .rt {
	flex: 0 50%;
	padding: 3em;
	text-align: center;
	background-color: #f7f7f7;
}

.contact .on .rt .a {
}

.contact .on .rt .a h4 {
	font-size: 1.8em
}

.contact .on .rt form {
	margin: 1em 0 0;
	/* text-align: center; */
}

.contact .on .rt form input[type=text] {
	display: block;
	width: 100%;
	/* width: 49%; */
}

.contact .on .rt form input[type=text] + input[type=text] {
	margin: 1em 0 0
}

.contact .on .rt form label {
	/* display: block; */
	/* font-size: .8em; */
	/* margin: 1em; */
	/* color: #777 */
}



.mess {
	position: fixed;
	right: 3%;
	bottom: 2%;
	z-index: 11;
}

.mess .a {
}

.mess .a a {
	background-color: #25d366;
	padding: 15px;
	border-radius: 50%;
	font-size: 0;
	display: inline-block
}

.mess .a a img {
	max-width: 32px !important;
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 99999;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.75);
	text-align: center;
}

.modal .on {
	position: relative;
	max-width: 360px;
	margin: 0 auto;
	background-color: #fff;
	padding: 38px;
	overflow: hidden;
	/* border-radius: 25px; */
}
.modal .on::after {
    width: 35px;
    height: 105%;
    position: absolute;
    right: -10px;
    top: 0;
    /* left: 0; */
    /* bottom: 0; */
    transform: skewX(3deg);
    content: '';
	background-color: rgba(206, 39, 39, 0.9);
}

.modal .on .a {
	margin: 0 0 2px
}

.modal .on .a h4 {
	font-size: 32px;
	/* color: #fff */
}

.modal .on .a p {
	font-size: 16px;
	/* color: #eee */
}

.modal .on form {
	/* font-size: 0; */
	margin: 15px 0 0;
}

.modal .on form input {
	margin: 10px 0 0;
	display: block;
	width: 100%
}

.modal #close {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.7);
	cursor: pointer
}

.order {
	max-height: 100vh
}

.order .on {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100vh;
	justify-content: center;
	flex-direction: column
}

.order .on .a {
	text-align: center
}

.order .on .a h1 {
	font-size: 48px;
	margin: 0 0 15px
}

.order .on .a p {
	font-size: 21px
}

.order .on .a p + p {
	margin: 15px 0 0
}

.order .on .b {
	margin: 32px
}

.order .on .b a {
	font-size: 21px;
	border-bottom: 1px dotted;
	color: #777
}

.order .on .b a:hover {
	border: 0
}

[class*="ymaps-2"][class*="-ground-pane"] {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(90%)
}

.policy {
	margin: 2em 0
}

.policy h3 {
	font-size: 27px
}

.policy .on {
	padding: 2em 0 0;
	border-top: 1px solid #eee;
	margin: 2em 0 0;
}

.policy .on p {
	font-size: 16px;
	font-weight: 800;
}

.policy .on mark {
	/* display:block; */
	background-color: #dedede;
}

.policy .on ol {
}

.policy .on ol li {
	font-size: 14px;
	margin: .5em 0 0
}




/* advantages */
#advantages {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.advantages-wrapper{
	display: flex;
	width: 1200px;
}

.advantages-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
	padding: 0 20px;
}
.advantages-box h4{
	color: rgba(185, 39, 39, 0.9);
	margin-top: 10px;
}
.advantages-box img{
	height: 100px;
}
.advantages-box p{
	font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
    opacity: 0.85;
}
/* услуги */
.service-wrapper{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
}
.service-wr {
	padding: 10px;
	width: 33.33%;	
}
.post-link {
	text-decoration: none;
	display: block;	
	color: rgba(206, 39, 39, 0.9);
	font-weight: 500;
	position: relative;
	z-index: 5;
	font-size: 20px;
	white-space: nowrap;
}
.service-box {   
	position: relative;
	background-color: #FDFDFD;
	background-image: radial-gradient(rgba(206, 39, 39, 0.2) 2px, transparent 2px);
	background-size: 6px 6px;
}
.service {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	width: 100%;
	height: 400px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.3);
	transition: .3s;
	background-position: 65% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.gradient h4{
	/* text-align: center; */
	display: table;
    margin: 0 auto;
    padding: 0 10px;
	position: relative;
	font-size: 22px;
    transform: translateY(-50%);
}
.gradient h4:after {
    content: "";
    position: absolute;
	top: 50%;
	right: -50px;
    width: 50px;
    height: 2px;
    background: white;
}
.gradient h4::before {
    content: "";
    position: absolute;
	top: 50%;
	left: -50px;
    width: 50px;
    height: 2px;
    background: white;
}
/* .service-wr:nth-child(1) .gradient h4:after,
.service-wr:nth-child(1) .gradient h4::before{
    width: 50px;
} */
.gradient {
	background: linear-gradient(90deg, rgba(32, 14, 14, 0.3) 0%, rgba(255, 255, 255, 0) 50%),
	 			linear-gradient(270deg, rgba(32, 14, 14, 0.3) 4.44%, rgba(255, 255, 255, 0) 50%),
	  			linear-gradient(rgba(32, 14, 14, 0.7) 0%, rgba(255, 255, 255, 0) 100%),
				 linear-gradient(0deg, rgba(32, 14, 14, 0.7) 0%, rgba(0, 0, 0, 0) 50%);
				 position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	color: #fff;
	transition: .3s;
	opacity: 1;
	z-index: 2;
	display: flex;
	justify-content: center;
	padding: 30px;
}
.gradient .h{
	margin-top: 35px;
	/* border: 2px solid #fff;
    padding: 0 20px 20px;
    border-top: none;
	width: 100%; */

}
.gradient .btn-ord {
	display: flex;
	left: auto;
	bottom: 25px;
	padding: 0 20px;
}
/* .service-wr:hover .gradient{
	transform: translate(12px, 12px);
	opacity: 0;

} */


/* .service-wr:hover .service-box .service {
    transform: translate(12px, 12px);
} */
/* .line {
	position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    z-index: 2;
	margin: 12px 0 0 12px;
    opacity: 0;   
    transition: .3s;   
} */
/* .line:before {
	content: "";
    position: absolute;    
    bottom: -15px;
    left: 50%;    
    width: 10px;
    height: 10px;
    margin: 0 0 0 -5px;
	background: rgba(206, 39, 39, 0.9);
    border-radius: 50%;
} */
/* .line:after {
	content: "";
    position: absolute;
    width: 2px;
    left: 50%;
    height: 50px;
    top: 100%;
    bottom: 0;
    margin-top: 13px;
    transform: scaleY(-1) translateX(-50%);
	background: linear-gradient(to bottom, rgba(252,71,62,0) 0%,rgba(206, 39, 39, 0.9) 100%);
} */
/* .service-wr:hover .line {
    opacity: 1;
} */
/* .service-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: white;
    transition: .3s;
} */
/* .service-wr:hover .service-box:after {
    opacity: .7;
    top: 12px;
    left: 12px;
    right: -12px;
    bottom: -12px;
} */
/* виды работ */
.type-work{

}
.type-work .box{
	display: flex;
    align-items: flex-end;
}
.type-work img{
	width: 15%;
}
.type-work .l{
    width: 50%;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
	padding: 0 10px;
    margin-bottom: 20px;
}
.type-work .on{
	display: flex;
	flex-wrap: wrap;
	margin: 40px -10px -20px;
}
.type-work p{
    padding-left: 20px;
    opacity: 0.85;
    line-height: 150%;
}
.type-work h4 {
    font-size: 16px;
    margin-bottom: 12px;
    color: rgba(185, 39, 39, 0.9);
}

/* партнеры */
.partner{
    margin: 0 0 40px;
}
.partner .on {
	/* display: flex;
	flex-direction: column;
    align-items: center; */
}
.part-text{
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(17, 48, 84, 0.15);
    border-radius: 10px;
    padding: 75px 55px;
    text-align: center;
	width: 35%;
	height: 295px;
    border: 4px solid rgba(63,144,187, 0.3);
}
.part-text h4{
	font-size: 28px;
    margin-bottom: 20px;
}
.part-text p{

}
.logo-partners{
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    justify-content: center;
	align-items: center;
}
.logo-pr{
	margin: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
	width: 11.11%;
}
.logo-pr img{
	filter: grayscale(1);
}
.logo-pr img:hover{
	filter: grayscale(0);
}
/* контакты */
.map {
	/* height: 500px;
	width: 100%; */
	position: relative;
}
.map-wr{
	height: 450px;
	width: 100%;
}
.contact-wr{
	position: absolute;
	right: 10%;
	background: #FFFFFF;
	box-shadow: 0px 5px 15px rgba(17, 48, 84, 0.15);
	border-radius: 0px;
	padding: 25px 35px;
	overflow: hidden;
}
.contact-wr::before{
	width: 100%;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    transform: skewY(-3deg);
    content: '';
	background-color: rgba(206, 39, 39, 0.9);
}
.contact-wr h3{
    border-bottom: 3px solid rgba(206, 39, 39, 0.75);
    line-height: 38px;
    width: min-content;
	margin-bottom: 15px;
	margin-top: 0;
}
.contact-wr h3::before,
.contact-wr h3::after{
	content: none;
}
.cont-box{
	padding: 8px 0;
}
.cont-box .title{
	font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #172029;
    opacity: 0.6;
}
.cont-box .text,
.cont-box .text a{
	font-size: 18px;
    font-weight: 800;
	margin: 5px 0 0;
	opacity: 0.9;
	color: #000000;
}
/* футер */
.foot {
	margin: 3em 0 0;
	padding: 3em 0 2em;
	background-color: #f7f7f7;
}

.foot .on {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.foot .logo-text p {
    font-size: 10px;
	margin: 0;
}
.foot .logo-text p:nth-child(1) {
	font-size: 14px;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;

}
.foot .lf {
	display: flex;
	align-items: center;
	padding: 0 40px;
}
.foot .on .lf img {
    filter: grayscale(1);
}
.foot .on .lf p {
	color: #777;
	/* font-size: .8em; */
}

.foot .on .cn {
    display: flex;
    width: auto;
}
.footer-menu{
	/* width: 50%; */
	display: flex;
    width: auto;
}
.footer-menu li{
	margin-bottom: 5px;
	padding: 10px;
}

.foot .on .cn a {
	color: #777;
    font-size: 1em;
	border-bottom: 2px solid transparent;
}

.foot .on .cn a:hover {
	border-color: rgba(206, 39, 39, 0.75);
}

.foot .on .rt {
	text-align: right;
	/* flex:0 20% */
}

.foot .on .rt p {
	font-size: 12px;
	/* color: #091941; */
}

.foot .on .rt p a {
	color: #091941;
	font-weight: 800;
	font-size: 22px;
}
.foot .wrap .footer-sib p{
	color: #777;
    font-size: 12px;
}
.on.footer-sib {
    margin-top: 20px;
}
.foot .wrap .footer-sib p a{
	color: rgba(206, 39, 39, 0.9);
	font-size: 12px;
	font-weight: 400;
}

.mob-burger{
	display: none;
}
/* menu mob */
.overlay-menu {
	display: block;
	position: fixed;
	z-index: 6;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient( 0deg, rgba(46, 47, 50, 0.8) 0%, rgba(46, 47, 50, 0) 49.69%, rgba(46, 47, 50, 0.8) 100% ), linear-gradient( 270deg, rgba(46, 47, 50, 0.8) 0%, rgba(46, 47, 50, 0) 49.35%, rgba(46, 47, 50, 0.8) 100% ), rgba(46, 47, 50, 0.7);
	opacity: 0.9;
}
.header-mob-wrapper{
	display: none;
	justify-content: center;
	transition: 0.2s;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	bottom: 0;
  }
  .header-mob{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 320px;
	height: 100vh;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(9, 25, 65, 0.12);
	padding: 37px 30px;
  }
  .img-header-mob img{
	filter: hue-rotate(145deg) grayscale(0.1);
  }
  .menu-mob{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
  }
  .menu-mob li{
	display: inline;
	margin: 0 0px 6px;
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	color: #091941;
	border-bottom: 1px solid #E1E4E9;
	width: 200px;
	padding: 0 0 8px;
  }
  .menu-mob li:last-child{
	border: none;
  }
  .menu-mob li a {
	width: 100%;
	height: 100%;
	display: inline-block;
  }
    .mob-close-menu{
	position: absolute;
	top: 50%;
	margin-top: -13.5px;
	right: -85px;
	cursor: pointer;
	user-select: none;
	z-index: 10;
  }
  .logo-mob {
	margin: 0 -20px 50px;
	display: flex;
    align-items: center;
}
.logo-mob .logo-text p:nth-child(1) {
    font-size: 14px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}
.logo-mob .logo-text p {
    font-size: 10px;
    margin: 0;
}

  /* menu mob */



/* аренда */
.rent{

}
.rent .on {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	justify-content: center;
	margin: 20px -10px -20px;
}
.rent .h {
	width: 33.33%;
    padding: 0 10px;
    margin: 0 0 20px;
}
.rent .a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
	height: 265px;
	padding: 0 35px;
}
.rent h4{
	font-size: 16px;
    margin-bottom: 12px;
	color: rgba(185, 39, 39, 0.9);
	text-align: center;
}
.rent .b {
	width: 100%;
	padding: 0 35px;
}
.rent li {
    display: flex;
    justify-content: space-between;
}
.rent .content {
    box-shadow: 0px 5px 15px rgba(17, 48, 84, 0.2);
    border-radius: 0px;
    padding: 20px 0 35px;
    overflow: hidden;
	position: relative;
	transition: 0.4s;
	background: #ffffff;
}
.rent .content::after {
    background-color: rgba(206, 39, 39, 0.6);
    width: 100%;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: -12px;
    left: 0;
    transform: skewY(-3deg);
	content: '';
	transition: 0.4s;

    /* background-color: rgba(206, 39, 39, 0.8); */
}
.rent .d {
	width: 100%;
	padding: 0 35px;
	text-align: center;
}
.rent .c {
    text-align: center;
    background: rgba(206, 39, 39, 0.2);
	margin: 15px 0 20px;
	padding: 10px 0;
}
.rent .content:hover::after{
    background-color: rgba(206, 39, 39, 0.8);
}
.rent .content:hover{
	transform: scale(1.03);
}
.rent h3 {
    margin: 0 0 15px;
    font-size: 24px;
}
.rent .content .a img {
    max-width: 100%;
    max-height: 100%;
}
/* .fancybox-content{
	background: transparent;
} */

@media screen and (max-width: 1100px) {
	.rent .h {
		width: 50%;
	}
	.fancybox-slide--html {
		padding: 35px;
	}
	.hood .on .cn ul li a {
		/* font-size: 0.9em; */
	}
	.form-box input {
		font-size: 14px;
		padding: 0 0 0 20px;
	}
	.form-box {
		padding: 0 5px;
	}
	.btn-form-box {
		padding-left: 5px;
	}
	.wrapper {
		padding: 50px 25px 41px;
	}
	.popup-overlay .swiper-button-next {
		right: 25px;
	}
	.popup-overlay .swiper-button-prev {
		left: 25px;
	}
	.main-title {
		left: 70px;
	}
	.main-title p {
		font-size: 26px;
	}
	.main-title h1 {
		font-size: 28px;
	}
	.btn-ord {
		bottom: 15vh;
		left: 70px;
		z-index: 1;
	}
	/* .hood .lf a:hover .logo-text {
		max-width: 225px;
		opacity: 1;
		margin-left: 5px;
	}
	.hood .logo-text {
		display: block;
		overflow: hidden;
		max-width: 0;
		opacity: 0;
		white-space: nowrap;
		transition: .6s ease;
	} */
	.hood .on .cn {
		padding: 0 1em 0 1em;
	}
	.hood .logo-text p:nth-child(1) {
		font-size: 12px;
	}
	.hood .on .lf img {
		width: 40px;
	}
}


@media screen and (max-width: 992px) {
	.fancybox-content{
		padding: 20px;
	}
	h3 {
		margin-top: 1em;
	}
	/* .gradient .btn-ord {
		display: flex;
		left: auto;
		bottom: 20px;
	} */
	.gradient h4:after {
		right: -40px;
		width: 40px;
	}
	.gradient h4::before {
		left: -40px;
		width: 40px;
	}
	.gradient h4 {
		font-size: 20px;
	}
	.head {
		padding: 70px 0 0;
		height: 95vh;
	}
	.hood .on .cn {
		display:none
	}
	.hood .on .lf {
		display: none;
	}
	.mob-burger {
		display: block;
		cursor: pointer;
	}
	.mob-burger img{
		display: block;
		width: 32px;
	}
	.after-red {
		bottom: -35px;
		height: 80px;
	}
	.btn-ord {
		border: 2px solid #fff;
		height: 50px;
		font-size: 16px;
	}
	.hood {
		padding: 5px 0;
	}
	.sld-main {
		padding: 40px 0 0 !important;
	}
	.header-mob-wrapper{
		display: flex;
		transform: translateX(-100%);
	  }
	  .mob-menu-show {
		transform: translateX(0);
	  }
	  .mob-menu-show .mob-close-menu {
		opacity: 1;
		visibility: visible;
	  }
	  .mob-close-menu {
		visibility: hidden;
		opacity: 0;
		transition: 0.3s;
		
	  }
	.advantages-wrapper {
		flex-wrap: wrap;
		justify-content: center;
	}
	.advantages-box {
		width: 33.33%;
		padding: 0 20px 20px;
	}
	.service-wr {
		width: 100%;
	}
	.service {
		height: 250px;
		background-position: 50% 70%;
	}
	.type-work .l {
		width: 100%;
	}
	.work .on {
		width: 50%;
		padding: 0px 10px 20px;
		margin-bottom: 0px;
	}
	.work-img-wr {
		/* margin: 35px -10px -20px; */
	}
	.popup-overlay .swiper-button-next{
		right: 10px;
	 } 
	 .popup-overlay .swiper-button-prev{
		left: 10px;
	 } 
	 .logo-pr {
		width: 15%;
	}
	.wrapper {
		flex-direction: column;
		align-items: center;
	}
	.title-form-box {
		text-align: center;
		margin-bottom: 20px;
	}

	.contact-wr {
		right: 4%;
		padding: 25px;
		top: 50%;
		transform: translateY(-51%);
	}
	.contact-wr h3{
		font-size: 2em;
	}
	.cont-box {
		padding: 5px 0;
	}
	.cont-box .text, .cont-box .text a {
		font-size: 16px;
		margin: 0px 0 0;
	}

	.footer-menu {
		width: auto;
		text-align: center;
	}
	.foot .on .rt {
		text-align: center;
		/* margin-top: 10px; */
	}
	.foot .on .cn a {
		font-size: 14px;
	}
	.footer-menu li {
		margin-bottom: 0;
		padding: 10px 5px;
	}
	.head {
		height: 475px;
	}
	.btn-ord {
		bottom: 60px;
	}

	.foot .on {
		flex-direction: column;
	}
	.on.footer-sib {
		flex-direction: row;
	}
}

@media screen and (max-width: 768px) {
	/* .btn-ord {
		bottom: 60px;
	} */
	.rent .h {
		width: 100%;
	}
	.fancybox-slide--html {
		padding: 10px;
	}
	.fancybox-content {
		padding: 5px;
	}
	.contact-wr {
		position: relative;
		box-shadow: none;
		text-align: center;
		transform: none;
		width: 100%;
		right: auto;
		top: auto;
	}
	.contact .on {
		box-shadow: none;
		flex-direction: column;
    /* height: auto; */
	}
	.contact-wr h3 {
		margin: 0 auto 15px;
	}
	.contact-wr::before {
		height: 50px;
		bottom: -25px;
	}
	.foot {
		margin: 0em 0 0;
		padding: 2em 0 1em;
	}
	.foot .on .cn {
		flex-direction: column;
		align-items: center;
	}
	/* .head {
		height: 475px;
	} */
	.footer-menu li {
		padding: 5px 5px;
	}
	.on.footer-sib {
		margin-top: 10px;
	}
	.work-img-wr .h::before{
		content: none;
	}

}
@media screen and (max-width: 658px) {
	.main-title {
		text-align: center;
		left: auto;
	}
	.main-title h1,
	.main-title p {
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0;
		color: #ffffff;
	}
	.sld-main .swiper-slide {
		justify-content: center;
	}
	.btn-ord {
		left: auto;
	}
	.modal .on .a h4 {
		font-size: 28px;
	}
	.modal .on::after {
		right: -13px;
	}
	.advantages-box {
		width: 50%;
		padding: 0 5px 20px;
	}
	.advantages-box img {
		height: 70px;
	}
	h4 {
		font-size: 14px;
	}
	.advantages-wrapper {
		margin: 0 -10px -20px;
	}
	.type-work .box {
		align-items: center;
		flex-direction: column;
	}
	.type-work .l {
		align-items: center;
		/* padding: 0; */
	}
	.type-work p {
		padding-left: 0;
		line-height: normal;
		text-align: center;
		margin-top: 10px;
	}
	.type-work img {
		width: 30%;
	}
	h3 {
		font-size: 2em;
	}
	.work .on {
		width: 100%;
	}
	.logo-pr {
		width: 20%;
	}
	.form-box {
		padding: 0;
		height: 45px;
		margin-bottom: 15px;
	}
	.form-wr .but {
		padding: 0;
	}
	.btn-form-box {
		padding-left: 0;
		height: 45px;
	}
	.form-wr {
		flex-direction: column;
		height: auto;
		margin: 0;
		align-items: normal;
	}
	.wrapper {
		padding: 50px 20px 40px;
	}
	.title-form-box p {
		font-size: 14px;
	}
	.title-form-box h4 {
		font-size: 24px;
		padding-bottom: 5px;
	}
	.title-form-box {
		margin-bottom: 40px;
	}
	.foot .lf {
		padding: 0 20px;
	}
	.footer-menu {
		flex-direction: column;
	}
	.footer-menu li {
		padding: 0;
	}
	.foot .on .rt {
		margin-top: 0;
	}
	.mob-close-menu {
		right: -40px;
	}
	.header-mob {
		width: 280px;
	}
	.hood .swiper-button-next,
	.hood .swiper-button-prev{
		top: 40% !important;
	}
	.mess {
		bottom: 4%;
	}
}
@media screen and (max-width: 458px) {


}